*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(175, 171, 171);
    background-size: cover;
    padding-top: 5%;
}

main{
    width: 50%;
    height: 70vh;
    margin: 0 auto;
    background-color: rgba(219, 234, 235, 0.7);
    font-family: 'Heebo', sans-serif;
    border-radius: 30px;
}

label{
	color: black;
}

h1{
    color: black;
    font-family: 'Diplomata', cursive;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 2%;
}

h2{
    color: rgb(13, 168, 189); 
    text-transform: uppercase;
    size: 20px;
    font-family: 'Diplomata', cursive;
    text-align: center;
    padding-bottom: 3%;
}

form{
    color: white;
}

#dugmici{
    margin-left: 1%;
    padding: 10px;
}